<div class="a">
<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="blog_wrapper">
  <div class="form-group">
    <%= form.label :title ,class: "bbb"%>
    <%= form.text_field :title, placeholder:"タイトル入力して" ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content,class: "bbb" %>
    <%= form.text_area :content, placeholder:"今日の出来事は？", class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "送信", class: "btn btn-outline-success btn-lg"%>
  </div>
  <%= link_to 'Back', blogs_path, class: "btn btn-outline-success btn-lg" %>
  </div>
<% end %>

</div>