<!DOCTYPE html>
<html>
  <head>
    <title>Dic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div id="main">
    <%= yield %>
    </div>
    <footer>
      <h6>運営会社DIVE INTO CODE株式会社</h6>
      <h6>© 2015-2016 DIVE INTO CODE Corp.</h6>
    </footer>
  </body>
</html>
